nltk
numpy
sentence-transformers
tokenizers
torch
transformers
python-dotenv
python-pptx
pytesseract
pdf2image
opencv-python
requests
Pillow

#visualisation
kaleido==0.2.1 
plotly>=5.18.0
pydantic>=2.0.0
